body {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.5rem;
  color: #0028ff;
}

.contents{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

@media only screen and (min-width : 640px) {
    .contents{
      transform: skew(7deg);
    }
    blockquote{
      transform: skew(7deg);
    }
}

.postlink{
  display: inline-block;
}

.postlink-link{
  font-weight: bold;
  font-size: large;
  display:inline-block;
}

.postlink-date{
  display:inline-block;
  font-size: small;
}

.content {
  max-width: 600px;
}

h1 {
  white-space: nowrap;
}

img{
  max-width: 100%;
}

a{
  color: #ff2800;
}
a:visited{
  color: #ff2800;
}
a:hover{
  background-color: #ff2800;
  color: #FFF;
}

.credit {
  padding-top: 16px;
}

hr{
  border: white;
  border-bottom: 1px solid #0028ff;
  width: 33%
}

footer{
  position: fixed;
  bottom: 0px;
  background: white;
  padding:0px;
  margin:0px;
}