<!DOCTYPE html>
<html>
  <head>
    <style>
body {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.3rem;
  color: #001ec0;
}
      
h2{
  line-height: 2rem;
  border-bottom: 3px solid;
}

span.date{
  color: #c41f00;
}

a {
  color: #ff2800;
}
a:visited {
  color: #c41f00;
}
a:hover {
  background-color: #ff2800;
  color: #FFF;
}
    </style>
    <title>{% if page.title %}{{ page.title }} {% endif %}{{ site.name }}</title>
    {% feed_meta %}
  </head>
  <body>
    <a href="/">Toffeemilkshake</a> : <a href="/words">words</a>
  <div role="main" class="content">
      {{ content }}
  </div>
  <div class="credit">
  {{ site.name }}
  </div>
  </body>
</html>
