<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" type="text/css" href="/words/assets/style.css">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    {% feed_meta %}
  </head>
  <body>
    <a href="/words">words</a>{% if page.url %}<a href="{{ page.url }}">/{{ page.title }}</a>{% endif %}
    <div role="main" class="content">{{ content }}</div>
    <footer>
      <div class="credit">
        <a href="/">{{ site.name }}</a>
        <time datetime="{{ page.date }}">{{ page.date | date: "%d %B %Y" }}</time>
        <a href="/words/">more posts</a>
        <a href="/words/feed.xml">RSS</a>
      </div>
    </footer>
  </body>
</html>
